html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.pic-details {
    /*background: #f1f1f1;*/
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.tag-container > a {
    background: #f1f1f1;
    color: #0d6efd;
    text-decoration: none;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 1.5rem;
    transition-duration: 250ms;
}

.tag-container > a:hover {
    background: #0d6efd;
    color: white;
    transition-duration: 250ms;
}

.img-big {

    max-height: 55vh;
    width: min-content;
    margin: auto;
}

.loading-big {
    width: 5rem;
    height: 5rem;
}

.desc-body {
    margin: 1rem 0 2rem 0;
}

.desc-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: -1.5rem;
}

#downloadsContainer {
    max-height: 300px;
    overflow-y: auto;
}

.main-container {
    overflow: hidden;
    height: 100vh;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.background {
    background: whitesmoke;
    opacity: 90%;
}

.text-container {
    margin-bottom: 1rem;
    text-align: start;
}

.main-text-container {
    margin-left: 30%;
    padding-bottom: 1rem;
}

.link-btn {
    cursor: pointer;
}