@model WebApp.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
}
<form asp-action="LoginAction" asp-controller="Auth">
    <div class="mb-3">
        <label asp-for="Username" class="form-label">Username</label>
        <input asp-for="Username" type="text" class="form-control">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="ReturnUrl"/>
    <button type="submit" class="btn btn-primary">Login</button>
</form>


@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
