@model List<WebApp.ViewModels.Top10VM>
@{
    ViewData["Title"] = "Top 10";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Top Tags</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Tag</th>
                    <th>Photographers</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("SearchFilter", "Pictures", new { query = item.TagName?.Name, filter = "tag" })">@item.TagName?.Name</a>
                        </td>
                        <td>
                            <a href="@Url.Action("SearchFilter", "Pictures", new { query = item.Photographer, filter = "photographer" })">@item.Photographer</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>